@charset "UTF-8";
/* Formatação do corpo */
body {
    background-color: #dddddd;
    color: rgba(0,0,0,1);
}

.container {
    width: 1400px;
    background-color: #ffffff;
    margin: 0px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    padding: 10px;
}
.topo{
    height: 100px;
    width: 100%;
    background-color:palegreen;
}
.topo #logo{
    width: 300px;
    height: 80px;
    background: yellow;
    margin: 0.5%;
}
.usuario{
    width: 400px;
    height: 80px;
    background: yellow;
    float: right;
    margin:0.5%;
}
#boxImg  {
	width:    1200px;
	height:   350px;
	margin:   0 auto;
	position: relative;
	overlay:  hidden;
    image-resolution: from-image;
	background-color:darkgray;
}
#flechaEsq, #flechaDir  {
	position:         absolute;
	top:              140px;
	opacity:          0.7;
	background-color: #ccc;
	border-radius:    50%;
	width:            80px;
	height:           80px;
	cursor:           pointer;
}
#flechaEsq  {
	padding:    8px 0px 0px 9px;
	box-sizing: border-box;
	left:       20px;
}
#flechaEsq:hover, #flechaDir:hover  {
	opacity: 0.5;
}
#flechaDir  {
	padding:    8px 0px 0px 16px;
	box-sizing: border-box;
	right:      20px;
}

.container #categorias{
    width: 200px;
    height: 900px;
    background-color:greenyellow;
    float: left;
    margin-left: -110px;
    margin-top: -900px;
    border-radius: 5px 5px 5px 5px;
    
}
.container #produtos{
    width: 950px;
    height: 900px;
    background-color: yellow;
    margin-left: 111px;
    border-radius: 20px 20px 20px 20px;
    
}
.container #carrinho{
    width: 200px;
    height: 900px;
    background-color:greenyellow;
    float: right;
    margin-right: -110px;
    margin-top: -900px;
    border-radius: 5px 5px 5px 5px;
}



p {
    text-align: justify;
    text-indent: 50px;
}

/* Formatação da barra de pesquisa*/
input#searchbar.form-control {
    width: 500px;
}

/* Formatação do rodapé */
footer#rodape {
    clear: both;
    border-top: 1px solid #606060;
}
